@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');



.Header {
  font-family: 'Source Code Pro';
  height: 40px;
  padding: 10px 5px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #FFD575;
}

.Header h1 {
  text-decoration: none;
  font-size: 14px;
}


.Header_logged_out p, .Header_logged_in {
  padding: 5px;
  display: inline-block;
  flex-direction: column;
  font-size: 12px;
  text-decoration: none;
}

.Header a {
  color: #444;
}

@media screen and (min-width: 475px) {
  .Header {
    padding-bottom: 30px;
    align-items: baseline;
  }
  .Header h1 {
    font-size: 20px;
  }
  .Header_logged_out p{
    font-size: 15px;
  }
}